.bg-success-400 {
  background-color: #66bb6a;
  border-color: #66bb6a;
  color: #fff;
}
.label {
  //display: inline-block;
  font-weight: bold;
  //
  line-height: 1.5384616;
  //border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .1px;
  border-radius: 2px;
}
.label {

  padding: .3em .6em .3em;
  //font-size: 75%;
  //
  //line-height: 1;
  //color: #fff;
  //text-align: center;
  //white-space: nowrap;
  //vertical-align: baseline;

}